html {
  box-sizing: border-box;
}


*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a[class] {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* font-family: 'Merriweather',serif;
    font-family: 'Montserrat',sans-serif;
    font-family: 'Raleway',sans-serif; */

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #373A39;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 60px;
  line-height: 75px;
  color: #242121;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1.65px;
  padding-bottom: 18px;
  position: relative;
  align-self: flex-start;
}

.title::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 60px;
  background-color: #FCBB08;
  bottom: 0;
  left: 0;
}

.header__top-inner {
  padding-bottom: 29px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}



.menu {
  margin-right: 38px;
  padding-bottom: 6px;
  font-family: 'Raleway', sans-serif;
}

.menu__btn {
  display: none;
}

.menu__list {
  display: flex;
  /* margin-right: 32px; */
}

.menu__list-item+.menu__list-item {
  margin-left: 38px;
}


.menu__list-link {
  padding: 0 6px 9px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #373A39;
  letter-spacing: 0.6px;
  transition: all .5s;
  border: none;
  border-color: transparent;
}

.menu__list-link:hover {
  border-bottom: 1px solid #FCBB08;
}

.header__content {
  background-image: url('../images/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: calc(100vh - 93px);
  font-family: 'Montserrat', sans-serif;

}

.header__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 93px);
}

.header__title {
  font-weight: 500;
  font-size: 72px;
  line-height: 88px;
  color: #FFFFFF;
  margin-top: auto;
  margin-bottom: 19px;
  padding-top: 130px;
}

.header__subtitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.8px;
  color: #FCBB08;
  margin-bottom: auto;

}

.header__icon-img {
  margin-bottom: 62px;
}

.about {
  background-color: #F6F8FA;
  padding: 150px 0 144px;
}

.about__inner {
  display: flex;
  justify-content: space-between;
}

.about__title {
  font-size: 48px;
}


.about__text p {
  max-width: 770px;
  margin-bottom: 16px;
}

.expertise {
  padding: 140px 0 135px;
}

.expertise__title {
  margin-bottom: 90px;
}

.expertise__inner {
  display: flex;
  margin-bottom: 85px;
}

.expertise__info {
  width: 370px;
  margin-right: 30px;
  flex: none;
  margin-top: 10px;
}

.expertise__info-item {
  border-top: 2px solid #1D1D1D;
  padding: 2px 0 28px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 1px;
  position: relative;
}

.expertise__info-item span {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 7px;
}

.expertise__info-item span::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #F0F0F0;
  right: -7px;
  top: -2px;
  width: 100%;
}

.expertise__text p {
  margin-bottom: 25px;
}

.expertise__text p:last-child {
  margin-bottom: 0;
}

.expertise__items {
  display: flex;
  justify-content: space-between;
}

.expertise__item {
  max-width: 370px;
  padding-left: 85px;
  position: relative;
}

.expertise__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}

.expertise__item--design::before {
  background-image: url('../images/design-icon.svg');
}

.expertise__item--dev::before {
  background-image: url('../images/develop-icon.svg');
  position: absolute;
  left: -3px;
  top: -3px;
}

.expertise__item--marketing::before {
  background-image: url('../images/marketing-icon.svg');
  position: absolute;
  top: -8px;
}

.expertise__item-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 4.29px;
  color: #333;
  margin-bottom: 14px;
  text-transform: uppercase;
}

.expertise__item-text {
  max-width: 285px;
  color: #777;
}

.magic {
  background-color: #F6F8FA;
  background-image: url('../images/magic-bg.jpg');
  background-repeat: no-repeat;
  background-size: 50%;

}

.magic__inner {
  max-width: 470px;
  margin-left: auto;
  padding: 100px 0 215px;
}

.magic__title {
  margin-bottom: 67px;
}

.magic__text p {
  margin-bottom: 25px;
}

.magic__text p:last-child {
  margin-bottom: 0;
}

.portfolio {
  padding: 140px 0 165px;
}

.portfolio__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

portfolio__filter-btn {
  margin-right: 40px;
}



.portfolio__btn {
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #333333;
  text-transform: uppercase;
  padding: 0 5px 5px;
  margin-right: 25px;
  outline: none;
}

.mixitup-control-active {
  border-bottom: 1px solid #FCBB08;
}

.portfolio__content {
  column-count: 4;
  column-gap: 22px;
  margin-bottom: 72px;
}

.portfolio__item {
  margin-top: 22px;
  position: relative;
}

.portfolio__item:first-child {
  margin-top: 0;
}

.portfolio__item-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #4C4A4A;
  border: 12px solid #666565;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all .4s;
}

.portfolio__item-link:hover {
  opacity: 0.9;
}

.portfolio__item img {
  width: 100%;
}

.portfolio__add {
  font-family: 'Montserrat', sans-serif;
  display: block;
  background-color: #F6F8FA;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.2px;
  color: #242121;
  text-align: center;
  text-transform: uppercase;
  padding: 42px 15px 41px;
  margin-bottom: 130px;
}

.blockquote {
  max-width: 650 px;
  margin: 0 auto 148px;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
  color: #242121;
}

.blockquote span {
  display: block;
  padding-top: 51px;
  font-size: 14px;
  line-height: 32px;
  color: #9E9E9E;
}

.portfolio__video {
  background-image: url('../images/video-bg.jpg');
  height: 324px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 164px;
}

.portfolio__numbers {
  display: flex;
  justify-content: space-around;
}

.portfolio__numbers-item {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  color: #242121;
  margin-bottom: 9px;
}

.portfolio__numbers-item span {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}

.slider-blog {
  background-color: #F8F6FA;
  padding: 115px 0;
}

.slider-blog__item {

  padding: 190px 0;

}

.slider-blog__item-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  color: #242121;
  margin-bottom: 10px;
  max-width: 675px;
  display: inline-block;
}

.slider-blog__item-descr {
  max-width: 585px;
}

.slick-arrow {
  border: 0;
  padding: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-150%);
}

.slick-prev {
  left: -95px;
}

.slick-next {
  right: -95px;
}


.slick-dots {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.slick-dots button {
  border: 0;
  padding: 0;
  font-size: 0;
  width: 6px;
  height: 6px;
  background-color: #242121;
  border-radius: 50%;
  opacity: 0.4;
}

.slick-dots .slick-active button {
  opacity: 1;
  width: 10px;
  height: 10px;
  transform: translateY(-2px);
}

.slick-dots li+li {
  margin-left: 13px;
}

.title__team {
  padding-top: 100px;
}

.team__items {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 132px;
  text-align: center;
}

.team__name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  padding: 35px 0 12px;

}

.team__special {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
}

.pricing {
  background-color: #F6F8FA;
  padding: 145px 0 160px;
}

.pricing__items {
  display: flex;
  justify-content: space-between;
  padding-top: 91px;
}

ul.pricing__item {
  background-color: #fff;
  text-align: center;
  padding: 25px;
  width: 370px;
}

.pricing__item li {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 30px;
}

.pricing__item .pricing__name {
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #242121;
  margin-bottom: 8px;
}

.pricing__item .pricing__summ {
  font-style: normal;
  font-weight: 300;
  font-size: 80px;
  line-height: 109px;
  color: #242121;
  padding-bottom: 20px;
}

.pricing__summ sup {
  font-size: 40px;
  line-height: 54px;
}

.pricing__item .pricing__item-link {
  padding-top: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.2px;

}

.pricing__item-link a {
  text-decoration: none;
  color: #242121;
}

.partner {
  padding: 70px 0 95px;
}

.partner__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.connection {
  padding: 145px 0 160px;
  background-image: url('../images/map.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 110% 60%;
}

.connection__title {
  margin-bottom: 78px;
}

.form {
  max-width: 570px;
}

.form input,
.form textarea {
  border: none;
  border-bottom: 2px solid #373A39;
  display: block;
  width: 100%;
  padding: 16px 0;
  margin-bottom: 16px;
  font-weight: 300px;
  color: #242121;
  font-weight: bold;
}

.form input::placeholder,
.form textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 3.70909px;
  color: #B8B8B8;
  text-transform: uppercase;
}

.form textarea {
  min-height: 140px;
  resize: none;
  margin-top: 53px;

}

.form button {
  margin-top: 40px;
  border: none;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  background-color: #242121;
  padding: 17px 70px 15px;
  cursor: pointer;
}

.footer__top {
  padding: 110px 10px 60px;
  background-color: #333;
  text-align: center;
}

.footer__logo {
  display: inline-block;
  padding: 0 35px 4px;
  border-bottom: 2px solid #FCBB08;
  margin-bottom: 73px;
}

ul.footer__social {
  display: flex;
  justify-content: center;
  margin-bottom: 65px;
}

.footer__social-list {
  padding: 0 15px;
}

.footer__social-link {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 4px;
  color: #FFFFFF;
}

.footer__contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 60px;
}

.footer__contact a {
  display: block;
  margin: 10px 0;
  color: #FFFFFF;
}

.go-top {
  display: inline-block;

}

.footer__copy {
  padding: 41px 10px;
  background-color: #2A2C2B;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #CCCCCC;
}

@media (max-width: 1440px) {
  .magic__inner {
    padding: 50px 0;
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }

  .slider-blog__item {
    padding-left: 50px;
  }

  .slick-dots {
    justify-content: center;
  }
}

@media (max-width: 1240px) {
  .team__items {
    flex-wrap: wrap;
  }

  .team__item {
    margin: 0 auto;
    padding: 0 10px 20px;
  }

  .pricing__items {
    column-gap: 20px;
  }

}

@media (max-width: 1120px) {

  .about,
  .expertise {
    padding: 75px 0 84px;
  }

  .about__inner {
    display: block;

  }

  .title,
  .about__title {
    font-size: 28px;
    line-height: 42px;
  }

  .about__title,
  .expertise__title {
    margin-bottom: 50px;
  }

  .about__text p {
    max-width: 100%;
  }

  .portfolio {
    padding: 75px 0;
  }

  .portfolio__top {
    margin-bottom: 40px;
  }

  .connection {
    background-image: none;
  }
}

@media (max-width: 992px) {

  .expertise__inner {
    display: block;
    margin-bottom: 75px;
  }

  .expertise__info {
    width: 100%;
    margin-right: 0;
  }

  .expertise__items {
    display: block;
  }

  .expertise__item {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .expertise__item:last-child {
    margin-bottom: 0;
  }

  .expertise__item-title {
    margin-bottom: 0;
  }

  .expertise__item-text {
    max-width: 100%;
  }

  .magic {
    background-image: none;
  }

  .magic__inner {
    max-width: 100%;
    margin-left: 0;
  }

  .magic__title {
    margin-bottom: 50px;
  }

  .portfolio__content {
    column-count: 3;
    margin-bottom: 40px;
  }

  .portfolio__top {
    display: block;
  }

  .portfolio__filter-btn {
    margin-top: 40px;
  }

  .slider-blog {
    padding: 40px 0;
  }

  .pricing__item .pricing__summ {
    font-size: 56px;
    line-height: 68px;
    padding-bottom: 15px;
  }

  .pricing__summ sup {
    font-size: 30px;
    line-height: 42px;
  }

  .partner__items {
    flex-wrap: wrap;
  }

  .partner__items li {
    margin: 20px auto;
  }

  .connection {
    padding: 75px 0;
  }

  .form {
    max-width: 100%;
  }

  .connection__title {
    margin-bottom: 40px;
  }

  ul.footer__social {
    margin-bottom: 40px;
    flex-wrap: wrap;
  }

  .footer__social-list {
    width: 33.333%;
    margin-bottom: 25px;
  }

  .footer__top {
    padding-top: 60px;
  }
}


@media (max-width: 768px) {

  .menu {
    margin-right: 9px;
    padding-bottom: 6px;
  }

  .menu__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #000;
    display: block;
    text-align: center;
    transform: translateY(-200%);
    transition: all .5s;
  }

  ul.menu__list {
    padding: 90px 0 15px;
  }

  .menu__list-item+.menu__list-item {
    margin-left: 0;
  }

  .menu__list-link {
    display: block;
    padding: 15px 0px;
    color: #FFFFFF;
  }

  .menu__list-link:hover {
    border-bottom: none;
  }

  .logo {
    position: relative;
    z-index: 2;
  }

  .menu__btn {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-top: 35px;
    position: relative;
    z-index: 2;
    cursor: pointer;
  }

  .header__top-inner path,
  .header__top-inner rect {
    transition: all .5s;
  }

  .header__top-inner.header__top-inner--active .menu__list {
    transform: translateY(0%);
  }

  .header__top-inner.header__top-inner--active path {
    fill: #fff;
  }

  .header__top-inner.header__top-inner--active .menu__btn rect {
    fill: #fff;
  }

  .header__top-inner {
    align-items: center;
  }

  .header__title {
    font-size: 53px;
    line-height: 70px;
    margin-bottom: 5px;
  }

  .header__subtitle {
    font-size: 14px;
    line-height: 16px;
  }

  .expertise {
    padding: 75px 0 75px;
  }

  .expertise__inner {
    margin-bottom: 55px;
  }

  .portfolio__content {
    column-count: 2;
  }

  .portfolio__add {
    margin-bottom: 65px;
  }

  .blockquote {
    margin: 0 auto 75px;
    padding: 0 10px;
  }

  .portfolio__video {
    margin-bottom: 75px;
  }

  .portfolio__btn {
    display: block;
    margin-top: 10px;
  }

  .portfolio__numbers {
    flex-wrap: wrap;
  }

  .portfolio__numbers-item {
    width: 50%;
    margin-bottom: 40px;
  }

  .slider-blog__item {
    padding-left: 0;
  }

  .slider-blog__item {
    padding: 80px 0;
  }

  .slider-blog__item-title {
    font-size: 24px;
    line-height: 32px;
  }

  .team__name {
    padding-top: 15px;
  }

  .team__items {
    padding: 40px;
  }

  .pricing {
    padding: 75px 0;
  }

  .pricing__items {
    flex-wrap: wrap;
    padding-top: 40px;
  }

  ul.pricing__item {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 440px) {
  .header__title {
    font-size: 37px;
    line-height: 51px;
    margin-bottom: 5px;
  }

  .header__subtitle {
    font-size: 12px;
    line-height: 14px;
  }

  .expertise {
    padding: 75px 0 55px;
  }

  .expertise__item {
    padding-left: 75px;
  }

  .portfolio__numbers-item {
    width: 100%;
  }

  .slider-blog__item-title {
    font-size: 18px;
    line-height: 28px;
  }

  .slider-blog__item {
    padding: 70px 0;
  }

  .slider-blog {
    padding: 10px 0;
  }
  .footer__social-list {
    width: 50%;
  }

  .footer__copy {
    padding: 20px 10px;
  }
}

@media (max-width: 340px) {

  .expertise__item {
    padding-left: 0;
    padding-top: 60px;
  }

}